body {
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Inconsolata", "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

#title {
  width: 350px;
  margin: 10px;
}

#visualization-container {
  display: grid;
  grid-template-columns: 100px 100px 150px;
  grid-template-rows: 25px 75px 100px 800px;
  margin: auto;
  width: 350px;
  height: 1000px;
  /* background-color:rgb(168, 168, 255); */
}

#visualization {
  grid-column: 2 / span 2;
  grid-row: 4;
  width: 100%;
  height: 100%;
  /* background-color:rgb(134, 225, 255); */
}

#visualization-label-container {
  grid-column: 1;
  grid-row: 4 / span 2; /* wait wtf is going on with the span ?? */
  display: flex;
  flex-direction: column;
  font-size: 14px;
  /* background-color:rgb(254, 223, 138); */
}

.label {
  height: 50px;
  padding: 10px;
  margin-bottom: 16px;
  margin-top: 14px; /* this is very cursed, but it's the easiest way i can think of doing it */
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center;
  text-align: right;
}

.numerical-label {
  font-size: 8px;
}

#menu {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* background-color: #ff9494; */
}

.control {
  margin: auto;
}

select {
  border: 2px solid #ddd;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

button {
  border: 2px solid #ddd;
  background: #eee;
  border-radius: 5px;
}

#color-key {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-flow: column;
  font-size: 8pt;
  justify-content: end;
}

.color-key-item {
  display: flex;
  flex-flow: row-reverse;
  text-align: end;
  align-items: center;
  width: 150px;
}

.color-key-dot {
  width: 10px;
  height: 10px;
  padding: 5px;
}

#description-container {
  grid-row: 3;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #c6ebff; */
}

.description {
  text-align: start;
  padding: 12px;
  font-size: 14px;
}

#click-box {
  grid-row: 4;
  grid-column: 2 / span 2;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-container {
  background-color: #ffffff;
  max-width: 500px;
  height: 80%;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: left;
}

#info {
  font-size: 14px;
  text-align: start;
  height: 90%;
  overflow-y: scroll;
  padding: 10px;
}

#info table {
  border: 1px solid #e0e0e0;
}

#deactivate-info-button {
  width: 25px;
  height: 25px;
}

#info-button {
  grid-row: 1;
  grid-column: 1;
}
